div {
    border: 1px solid #999;
    
}
.container {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #eee;
    padding: 20px 20px;
}

.left {
    float: left;
    width: 160px;
    background-color: white;
    padding: 20px 20px;
}

.right {
    float: right;
    width: 80px;
    background-color: white;
    padding: 20px 20px;
}

.main {
    margin-left: 220px;
    margin-right: 140px;
    background-color: white;
    padding: 20px 20px;
}

.logo {
    width: 78px;
    height: 78px;
    display: inline-block;
    vertical-align: top;
    background: url('../img/cartoon.png') center no-repeat;
}
.personal-logo {
    width: 78px;
    height: 78px;
    background: url('../img/cartoon.png') center no-repeat;
}
.mid-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}
.left p {
    display: inline-block;
    margin-left: 8px;
}